# For iceFUN board

set_io --warn-no-port led_rows[0] 	C10
set_io --warn-no-port led_rows[1] 	A10
set_io --warn-no-port led_rows[2] 	D7
set_io --warn-no-port led_rows[3] 	D6
set_io --warn-no-port led_rows[4] 	A7
set_io --warn-no-port led_rows[5] 	C7
set_io --warn-no-port led_rows[6] 	A4
set_io --warn-no-port led_rows[7] 	C4
set_io --warn-no-port led_columns[0]	A12
set_io --warn-no-port led_columns[1] 	D10
set_io --warn-no-port led_columns[2] 	A6
set_io --warn-no-port led_columns[3] 	C5
set_io --warn-no-port clk  	P7
